


:root {

    /*------------ Colors -----------*/
    /*Primary*/
    --Cornflower_Blue: rgb(86, 130, 243);
    --Mine_Shaft: rgb(48, 48, 48);

    /*Other Color*/
    --Heather: rgb(185, 202, 211);
    --white: rgb(255, 255, 255);
    --Spun_Pearl:rgb(167, 167, 171);

    
    /*------------typography-----------*/
    
    /*typography*/
    --Huge-Font-Size: 65px;
    --Larger-Font-Size: 60px; 
    --big-Font-Size: 40px; //for subheading...
    --medium-Font-Size: 32px; 
    
 
    
    /*Font weight */
    --font-regular :400; 
    --font-medium:500; 
    --font-bold: 700; //for heading
    
    /*Borders*/
    --input-Border: 2px solid var(--Black-Glaze);
    --rd-Frames: 20px;
    }


