<footer>
    <div class="footer-Content-countainer">

        <div class="sc-footer">
            <span class="sc-title">
                à propos de nous
            </span>
            <p class="sc-ft-subtitle">
               <span>nous</span> sommes une société de services de gestion de projets immobiliers qui aide les visiteurs de la ville de Marrakech à obtenir des villas, villas ou palais qui rendront leur visite mémorable.
            </p>

            <div class="ft-social-inks">
                {% include "includes/Social-Links.html" %}
            </div>
        </div>



        <div class="sc-footer">

            <div class="links-help-countainer">
                <div class="site-links-part">
                    <span class="sc-title">services</span>
                    <ul>
                        <li><a class="link-footer" href="{% url 'productLayout' %}">collections</a></li>
                        <li><a class="link-footer" href="">contact</a></li>
                        <li><a class="link-footer" href="">blogs</a></li>
                        <li><a class="link-footer" href="">votre compte</a></li>
                        
                    </ul>
                </div>

                <div class="site-help-user">
                    <span class="sc-title">aide</span>
                    <ul>
                        <li><a class="link-footer" href="">terms of service</a></li>
                        <li><a class="link-footer" href="">privacy policy</a></li>
                        <li><a class="link-footer" href="">à propos de nous</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="sc-footer">
            <span class="sc-title">
                adresse
            </span>

            <p class="sc-ft-subtitle">
                <span>soyez</span> distingué en exprimant vos opinions en communiquant avec nous via :
            </p>
            <div class="contact-item-containr">
                <ul>
                    <li><i class="fa-sharp fa-solid fa-location-dot"></i> <span>syba Nº 78 marrakech, morocco</span></li>
                    <li><i class="fa-solid fa-envelope"></i> <span>contact@immobilerpoint.com</span></li>
                    <li><i class="fa-solid fa-phone"></i> <span>+212(603)-427204</span></li>
                    <li><i class="fa-solid fa-fax"></i> <span> (212) 5227199</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="creater-sc">
        <span>created by <i class="fa-solid fa-heart"></i> <a target="_blank" class="me" href="https://github.com/driouechoussa">oussama driouech</a> | <i class="fa-regular fa-copyright"></i> 2024 all rights reserved.</span>
    </div>
</footer>