<div class="Social-Links">
    <a class="social-link Social-Link-fb" target="_blank" href="https://facebook.com/?_rdc=1&_rdr"><i class="fa-brands fa-square-facebook"></i></a>
    <a class="social-link Social-Link-insta" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
    <a class="social-link Hero-Discover-whtsapp" target="_blank" href="https://wa.me/212603427204"><i class="fa-brands fa-whatsapp"></i></a>
    <a class="social-link Hero-Discover-whtsapp" target="_blank" href="https://wa.me/212603427204"><i class="fa-brands fa-telegram"></i></a>
</div>