{% load static %}
<section class="whyUs-Section">
    <img src="{% static 'imgs/bgs/mr-castels.jpg'%}" alt="" srcset="">


        <div class="whyUs-Content">
            <h2>
                Pourquoi nous choisir
            </h2>

            <p>
                Nous sommes toujours disponibles pour vous aider et répondre à 
                toutes vos questions afin que vos vacances soient inoubliables.
            </p>
            
            <div class="services-cards">
                <div>
                    <i class="fa-solid fa-shower"></i>
                    <span class="serv-title">
                        service personnalisé
                    </span>
                    <span class="serv-subtitle">
                        Nous nous engageons à vous offrir un service personnalisé adapté à vos besoins spécifiques.
                    </span>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                    <span class="serv-title">
                        trusted expertise
                    </span>

                    <span class="serv-subtitle">
                        Avec des années d'expérience sur le marché de l'immobilier de luxe, nous apportons des connaissances et une intégrité inégalées à chaque transaction
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-building"></i>
                    <span class="serv-title">
                        Annonces exclusives
                    </span>

                    <span class="serv-subtitle">
                        Annonces exclusivesNous vous proposons une sélection soignée des plus belles propriétés disponibles. Chaque propriété est soigneusement choisie pour ses caractéristiques uniques
                    </span>
                </div>
            </div>

        </div>

</section>