
.search-panel {
    width: 90%;                                      
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;

    .choice-panel{
        width: 20%;
        height:15%;
        border: 1px solid var(--Spun_Pearl);
        padding: 0 10px;
        font-size: 15px;
        font-weight: 600;
        border: var(--Search-Panel-Border);
        color: var(--Spun_Pearl);
        text-transform: capitalize;
        &:first-child {
            border-radius: 5px 0 0 5px;
        }

        option {
            text-transform: capitalize;
        }
        
    }

    .serach-input {
        width: 45%;
        height: 15%;
        border: var(--Search-Panel-Border);
        padding: 0 10px;
        font-size: 18px;
        font-weight: 600;
        color: #333;

        &::placeholder {
            color: #a7a7ab;
            text-transform: capitalize;
        }
    }

    .searchbtn {
        width: 12%;
        height: 15%;
        background-color: #5682f3;
        font-size: 21px;
        color: #fff;
        border: var(--Search-Panel-Border);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    .choice-panel , .search-panel , .serach-input {
        &:focus {
            outline: none;
        }
    }

}  