.btn-account {
    width: 40px;
    height: 40px;
    padding: 9px;
    background: var(--Cornflower_Blue);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0.3% 0;
    

}
