.whyUs-Section {
    width: 100%;
    height: 700px;
   
    background-color: var(--Spun_Pearl);

    img {
        width: 100%;
        height: inherit;
        position: absolute;
        opacity: 50%;
        
    }
     
        .whyUs-Content {

            position: absolute;
            width: 100%;
            height: 100%;
            
    
            h2 {
                font-size: 41px;
                margin: 20px auto;
                width: 500px;
                text-transform: capitalize;
                text-align: center;
                font-weight: 500;
                color: var(--Mine_Shaft);
            }
            p {
                width: 700px;
                font-size: 21px;
                margin: auto;
                text-transform: capitalize;
                text-align: center;
                font-weight: 400;
                color: var(--Mine_Shaft);
            }
    
    
            .services-cards {
                display: flex;
                justify-content: space-around;
                max-width: 900px;
                margin: 50px auto ;
                
    
                div {
                    width: 300px;
                    height: 320px;
                    background:var(--white);
                    margin: 10px;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 62px;
                        color:var(--Spun_Pearl);
                        margin: 20px 0;
                        
                    }
                    .serv-title {
                        text-transform: capitalize;
                        font-size: 21px;
                        font-weight: 500;
                        color: var(--Mine_Shaft);
                    }

                    .serv-subtitle {
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        margin-top: 20px;
                        color: var(--Spun_Pearl);
                    }
                }
            }
    
        
        }
    
    
   
    



  
}