:root {
  /*------------ Colors -----------*/
  /*Primary*/
  --Cornflower_Blue: rgb(86, 130, 243);
  --Mine_Shaft: rgb(48, 48, 48);
  /*Other Color*/
  --Heather: rgb(185, 202, 211);
  --white: rgb(255, 255, 255);
  --Spun_Pearl:rgb(167, 167, 171);
  /*------------typography-----------*/
  /*typography*/
  --Huge-Font-Size: 62px;
  --Larger-Font-Size: 52px;
  --Large-Font-Size:42px;
  --Big-Font-Size: 32px;
  --Normal-Font-Size: 25px;
  --Medium-Font-Size: 21px;
  --Small-Font-Size: 18px;
  --Smaller-Font-Size: 15px;
  /*Font weight */
  --font-regular:400;
  --font-medium:500;
  --font-bold: 700;
  /*Borders*/
  --Search-Panel-Border: 1px solid rgb(167, 167, 171);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.Nav-scrolled {
  background-color: #fff;
  position: fixed;
}

nav {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: transparent;
  position: absolute;
}
nav .logo {
  width: 20%;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
nav .logo i {
  font-size: var(--Big-Font-Size);
}
nav ul {
  display: flex;
}
nav ul li {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
nav ul li .navLink {
  font-size: 32px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  padding: 0 15px;
  border-radius: 10px;
}
nav ul li .navLink:hover {
  background: rgba(255, 255, 255, 0.3764705882);
  transition: 0.7s;
}
nav .btn-Side-Menu {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: none;
  cursor: pointer;
}
nav .btn-Side-Menu i {
  font-size: var(--Big-Font-Size);
  color: var(--white);
}
nav .btn-Side-Menu .side-menu {
  width: 90%;
  height: 450px;
  background-color: #fff;
  position: absolute;
  left: 5%;
  top: 100%;
  z-index: 300;
  border-radius: 5px;
  display: none;
}
nav .btn-Account {
  background-color: var(--white);
  padding: 9px;
  border-radius: 50%;
}
nav .btn-Account i {
  color: var(--Mine_Shaft);
}

@media only screen and (max-width: 480px) {
  :root {
    --Big-Font-Size: 32px;
  }
  nav {
    padding: 5px 50px;
  }
  nav .logo span {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Account {
    display: none;
  }
  nav .btn-Side-Menu {
    display: block;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav {
    padding: 5px 50px;
  }
  nav .logo {
    font-size: var(--Big-Font-Size);
  }
  nav .logo span {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Side-Menu {
    display: block;
  }
  nav .btn-Side-Menu {
    display: block;
  }
  nav .btn-Account {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --Big-Font-Size: 30px;
  }
  nav {
    padding: 5px 50px;
  }
  nav .logo span {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Side-Menu {
    display: block;
  }
  nav .btn-Account {
    display: none;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  nav {
    padding: 0 50px;
  }
  nav .logo {
    font-size: var(--Small-Font-Size);
  }
  nav .logo i {
    font-size: inherit;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li .navLink {
    font-size: var(--Smaller-Font-Size);
    padding: 2px 10px;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Side-Menu {
    display: none;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1480px) {
  nav {
    padding: 0 50px;
  }
  nav .logo {
    font-size: var(--Small-Font-Size);
  }
  nav .logo i {
    font-size: inherit;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li .navLink {
    font-size: var(--Small-Font-Size);
    padding: 2px 15px;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Side-Menu {
    display: none;
  }
}
@media only screen and (min-width: 1481px) {
  nav {
    padding: 0 50px;
  }
  nav .logo {
    font-size: var(--Normal-Font-Size);
  }
  nav .logo i {
    font-size: inherit;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li .navLink {
    font-size: var(--Medium-Font-Size);
    padding: 2px 10px;
  }
  nav .Social-Links {
    display: none;
  }
  nav .btn-Side-Menu {
    display: none;
  }
}
header {
  width: 100%;
  height: 90vh;
  background-color: blueviolet;
}
header img {
  width: inherit;
  height: inherit;
}
header .Hero-Content {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
}
header .Hero-Content .Hero-Title {
  color: var(--white);
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
header .Hero-Content .Hero-Title span {
  text-transform: capitalize;
}
header .Hero-Content .Hero-Subtitle {
  color: #fff;
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) {
  header .Hero-Content .Hero-Title {
    font-size: var(--Normal-Font-Size);
  }
  header .Hero-Content .Hero-Subtitle {
    font-size: var(--Smaller-Font-Size);
  }
  header .Hero-Content .search-panel {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header .Hero-Content .Hero-Title {
    font-size: var(--Normal-Font-Size);
  }
  header .Hero-Content .Hero-Subtitle {
    font-size: var(--Small-Font-Size);
    padding: 10px;
    letter-spacing: 1px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  header .Hero-Content .search-panel {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header .Hero-Content .Hero-Title {
    font-size: var(--Big-Font-Size);
  }
  header .Hero-Content .Hero-Subtitle {
    font-size: var(--Medium-Font-Size);
    padding: 10px;
    letter-spacing: 1px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  header .Hero-Content .search-panel {
    display: none;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1480px) {
  header .Hero-Content .Hero-Title {
    font-size: var(--Large-Font-Size);
  }
  header .Hero-Content .Hero-Subtitle {
    font-size: var(--Small-Font-Size);
    padding: 10px;
    letter-spacing: 1px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  header .Hero-Content .search-panel {
    display: block;
  }
}
@media only screen and (min-width: 1481px) {
  header .Hero-Content .Hero-Title {
    font-size: var(--Larger-Font-Size);
  }
  header .Hero-Content .Hero-Subtitle {
    font-size: var(--Normal-Font-Size);
    padding: 10px;
    letter-spacing: 1px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  header .Hero-Content .search-panel {
    display: block;
  }
}
.villasCollection {
  width: 100%;
  max-height: 1000px;
}
.villasCollection .villas-textContent {
  margin: auto;
  max-width: 850px;
  padding: 10px;
  margin-top: 10px;
}
.villasCollection .villas-textContent h2 {
  text-align: center;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 52px;
  font-weight: 400;
  color: #303030;
}
.villasCollection .villas-textContent p {
  text-align: center;
  color: #303030;
  font-size: 25px;
}
.villasCollection .villas-cards-veiwer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 90%;
  height: 500px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
}
.villasCollection .villas-cards-veiwer .card-villa-detail {
  width: 250px;
  height: 210px;
  margin: 20px 0px;
  background-color: transparent;
  cursor: pointer;
}
.villasCollection .villas-cards-veiwer .card-villa-detail:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.4s;
}
.villasCollection .villas-cards-veiwer .card-villa-detail img {
  width: 100%;
  height: 120px;
}
.villasCollection .villas-cards-veiwer .card-villa-detail .villa-location {
  width: 100%;
  color: #5682f3;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
  margin-top: 10px;
}
.villasCollection .villas-cards-veiwer .card-villa-detail .villa-name {
  width: 100%;
  color: #333;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
  margin-top: 5px;
}
.villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains {
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}
.villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .guest-info, .villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .bed-info, .villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .price-info {
  padding: 5px;
  color: #a7a7ab;
}
.villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .guest-info i, .villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .bed-info i, .villasCollection .villas-cards-veiwer .card-villa-detail .villa-countains .price-info i {
  color: #b9cad3;
}

.whyUs-Section {
  width: 100%;
  height: 700px;
  background-color: rgb(221, 221, 221);
}
.whyUs-Section img {
  width: 100%;
  height: inherit;
  position: absolute;
  opacity: 50%;
}
.whyUs-Section .whyUs-Content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.whyUs-Section .whyUs-Content h2 {
  font-size: 41px;
  margin: 20px auto;
  width: 500px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  color: #333;
}
.whyUs-Section .whyUs-Content p {
  width: 700px;
  font-size: 21px;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  color: #333;
}
.whyUs-Section .whyUs-Content .services-cards {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 50px auto;
}
.whyUs-Section .whyUs-Content .services-cards div {
  width: 300px;
  height: 320px;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyUs-Section .whyUs-Content .services-cards div i {
  font-size: 62px;
  color: #a7a7ab;
  margin: 20px 0;
}
.whyUs-Section .whyUs-Content .services-cards div .serv-title {
  text-transform: capitalize;
  font-size: 21px;
  font-weight: 500;
  color: #333;
}
.whyUs-Section .whyUs-Content .services-cards div .serv-subtitle {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  color: #a7a7ab;
}

.blogsCollec-Section {
  width: 100%;
  height: 600px;
}
.blogsCollec-Section .heading-container {
  width: 500px;
  padding: 10px;
  margin: 10px auto;
}
.blogsCollec-Section .heading-container .sec-blog-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 400;
  color: #303030;
}
.blogsCollec-Section .blogs-Card-Countainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 70%;
  margin: 50px auto;
}
.blogsCollec-Section .blogs-Card-Countainer .card-blogs-detail {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: center;
  margin: 5px;
}
.blogsCollec-Section .blogs-Card-Countainer .card-blogs-detail .blog-Image {
  width: 100%;
  height: 150px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.blogsCollec-Section .blogs-Card-Countainer .card-blogs-detail .blog-title {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 5px;
}
.blogsCollec-Section .blogs-Card-Countainer .card-blogs-detail .blog-textContent {
  width: 100%;
  height: 62px;
  overflow: hidden;
  padding: 5px;
  font-size: 15px;
}
.blogsCollec-Section .blogs-Card-Countainer .card-blogs-detail .date-Created {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  color: #a7a7ab;
  padding: 5px;
  font-weight: 500;
}

.btnSqre {
  width: 200px;
  margin: auto;
  padding: 10px;
}
.btnSqre .villasSection-Sm-Btn {
  width: 180px;
  display: inline-block;
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid #5682f3;
  background: transparent;
  text-transform: capitalize;
  color: #5682f3;
}
.btnSqre .villasSection-Sm-Btn:hover {
  background-color: #5682f3;
  transition: 0.4s;
  color: #fff;
}

.Social-Links {
  display: flex;
}
.Social-Links a {
  margin: 15px;
}
.Social-Links a i {
  font-size: 32px;
  color: #fff;
}
.Social-Links a i:hover {
  color: #5682f3;
  transition: 0.4s;
}

.search-panel {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
}
.search-panel .choice-panel {
  width: 20%;
  height: 15%;
  border: 1px solid var(--Spun_Pearl);
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  border: var(--Search-Panel-Border);
  color: var(--Spun_Pearl);
  text-transform: capitalize;
}
.search-panel .choice-panel:first-child {
  border-radius: 5px 0 0 5px;
}
.search-panel .choice-panel option {
  text-transform: capitalize;
}
.search-panel .serach-input {
  width: 45%;
  height: 15%;
  border: var(--Search-Panel-Border);
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.search-panel .serach-input::-moz-placeholder {
  color: #a7a7ab;
  text-transform: capitalize;
}
.search-panel .serach-input::placeholder {
  color: #a7a7ab;
  text-transform: capitalize;
}
.search-panel .searchbtn {
  width: 12%;
  height: 15%;
  background-color: #5682f3;
  font-size: 21px;
  color: #fff;
  border: var(--Search-Panel-Border);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-panel .choice-panel:focus, .search-panel .search-panel:focus, .search-panel .serach-input:focus {
  outline: none;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #111111;
}
footer .footer-Content-countainer {
  width: 90%;
  height: 350px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
footer .footer-Content-countainer .sc-footer {
  width: 445px;
  height: 320px;
  margin: 5px auto;
}
footer .footer-Content-countainer .sc-footer .sc-title {
  max-width: 200px;
  margin: 10px;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 2px solid #5682f3;
  color: #fff;
}
footer .footer-Content-countainer .sc-footer .sc-ft-subtitle {
  margin: 10px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
footer .footer-Content-countainer .sc-footer .sc-ft-subtitle span {
  text-transform: capitalize;
}
footer .footer-Content-countainer .sc-footer .ft-social-inks {
  padding-top: 10px;
}
footer .footer-Content-countainer .sc-footer .links-help-countainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}
footer .footer-Content-countainer .sc-footer .links-help-countainer .site-links-part, footer .footer-Content-countainer .sc-footer .links-help-countainer .site-help-user {
  width: 50%;
  height: 100%;
}
footer .footer-Content-countainer .sc-footer .links-help-countainer .site-links-part ul li, footer .footer-Content-countainer .sc-footer .links-help-countainer .site-help-user ul li {
  width: 100%;
  padding-top: 10px;
}
footer .footer-Content-countainer .sc-footer .links-help-countainer .site-links-part ul li .link-footer, footer .footer-Content-countainer .sc-footer .links-help-countainer .site-help-user ul li .link-footer {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}
footer .footer-Content-countainer .sc-footer .links-help-countainer .site-links-part ul li .link-footer:hover, footer .footer-Content-countainer .sc-footer .links-help-countainer .site-help-user ul li .link-footer:hover {
  color: #5682f3;
  text-decoration: underline;
  transition: 0.4s;
}
footer .footer-Content-countainer .sc-footer .contact-item-containr {
  width: 100%;
}
footer .footer-Content-countainer .sc-footer .contact-item-containr li {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
footer .footer-Content-countainer .sc-footer .contact-item-containr li i {
  font-size: 21px;
  color: #fff;
}
footer .footer-Content-countainer .sc-footer .contact-item-containr li span {
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
}
footer .creater-sc {
  width: 500px;
  margin: auto;
  padding: 10px;
}
footer .creater-sc span {
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
}
footer .creater-sc span .fa-solid {
  color: #5682f3;
}
footer .creater-sc span .me {
  color: #fff;
}
footer .creater-sc span .me:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */